@import "./index.css";

.sectionBanner {
    justify-content: center;
    display: flex;
}

.banner {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 45px;
    position: relative;
}

.titleBanner {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 1240px;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.image-banner {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    padding: 0;
}


@media (max-width: 375px) {
    .banner {
        width: 335px;
        height: 111px;
        padding: 0px 20px;
        margin-bottom: 0px;
    }
  
    .titleBanner {
        font-size: 22px;
        top: 36px;
        width: 203px;
        padding: 0px 119px 0px 12px;
    }
    .image-banner {
        height: 111px;
    }
  }