@import "./index.css";

.collapse {
    background-color: rgba(246, 246, 246, 1);
    max-width: 1100px;
    border-radius: 5px;
    margin: 0 auto;
}

.collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 96, 96, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    padding: 7px 18px;
    cursor: pointer;
}
.collapse-text {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px 18px 30px 18px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 96, 96, 1);
    
}

.arrow{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.arrow-up{
    transform: rotate(0deg); 
    padding-right: 17px;
}
.arrow-down{
    transform: rotate(180deg);
    padding-left: 17px;
}


.logement-collapse{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 70px;
    margin: 30px auto;
    width: 95%;
    height: 360px;
}

.logement-collapse-item{
    width: 50%;
}
ul {
    list-style-type : none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logement-collapse-item .collapse-text {
    height: 169px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0em;
    width: 507px;
  }

  
  @media screen and (max-width: 375px) {
.collapse {
    padding: 0 20px;
}
.collapse-title {
    font-size: 20px;
}
.collapse-text {
    font-size: 19px;
}

.logement-collapse {
    gap: 0px;
    margin-top: 0;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}
.logement-collapse-item {
    width: 100%;
    padding: 0;
}

.logement-collapse-item .collapse {
    margin: 0px;
    padding: 0;
}
.logement-collapse-item .collapse-title {
    font-size: 19px;
    height: 30px;
}

.logement-collapse-item .collapse-text {
    font-size: 15px;
    width: auto;
    height: 150px;
}
  }