.message-error{
max-width: 95%;
margin: 0 auto;
padding-bottom: 40px;
/* color: $color-secondary; */
}

.error-contents{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: calc(100vh - 250px);
}

.error-title{
font-weight: 700;
font-size: 288px;
color : rgba(255, 96, 96, 1);
font-family: Montserrat;
margin: 0;
}
        
.error-text{
font-weight: 500;
font-size: 36px;
font-family: Montserrat;
color: rgba(255, 96, 96, 1);
}

.error-link{
display: block;
text-align: center;
font-weight: 500;
font-size: 18px;
font-family: Montserrat;
color: rgba(255, 96, 96, 1);
}



@media screen and (max-width: 375px) {
    .error-title{
        font-size: 96px;
    }
    .error-text{
        font-size: 18px;
        text-align: center
    }
    .error-link{
        font-size: 14px;
    }
    
  }