@import "./index.css";


.gallery-section {
    width: 1240px;
    background: #F7F7F7;
    border-radius: 25px;
    margin: auto;
}
    
.gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 30px 20px;
    }

.gallery-item {
    width: 340px;
    height: 340px;
    list-style-type: none;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.gallery-item-title {
    display: flex;
    position: absolute;
    width: 300px;
    height: 46px;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: #FF6060;
    margin: 0;
    border-radius: 0 0 10px 10px ;
    font-size: 18px;
    font-weight: 500;
}

.gallery-item-image {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}


@media (max-width: 375px) {
    .gallery-section {
      width: 100%;
      background: white;
    }
    .gallery-items {
      margin: 0;
      padding: 0;
    }
    .gallery-item {
        height: 100%;
        margin: 20px 0 0px 0;
        padding: 0;
    }
    .gallery-item-image {
        height: 255px;
        object-fit: cover;
    }
    .gallery-item-title {
        align-items: center;
        font-size: 16px;
        font-weight: 500;
    }
  }
  