@import "./index.css";

.header {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

nav a {
    color : rgba(255, 96, 96, 1);
    font-family: Montserrat;
    font-size: 24px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.activeLink {
    text-decoration: underline;
    font-weight: bold;
  }

figure {
    margin-left: 0;
}


@media (max-width: 375px) {
    
    .header {
        width: auto;
        padding: 0px 20px;
    }
    
    nav {
    width: 100%;
    }
    
    nav a {
    font-size: 18px;
    }
    
    .logo-kasa {
        width: 134px;
        padding-bottom: 0;
    }
    }
