@import './index.css';

.logement-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(255, 96, 96, 1);
    width: 95%;
    margin: 0 auto;
    }
    
.logement-infos {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
}
    
.logement-infos button {
    display: inline;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(255, 96, 96, 1);
    ;
}
    
.logement-infos button:hover {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}
    
.logement-infos div {
    display: flex;
}
    
.logement-host {
    display: flex;
    flex-direction: column;
}

.logement-host-infos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.logement-host-name {
    align-self: center;
}
.logement-host-name p {
    margin: 0px;
    font-size: 18px;
}
    
.logement-host-photo {
    width: 64px;
    height: 64px;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 50%;
    padding-bottom : 0;
    margin-left: 10px;
}
    
.logement-host-notation {
    display: flex;
}
    
.logement-host-notation img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.logement-infos h1 {
font-size: 36px;
font-weight: 500;
margin-top: 0;
}

.logement-infos p {
font-size: 18px;
margin-top: 0;
}

.logement-infos button {
    font-family: Montserrat;
    font-size: 14px;
}



@media screen and (max-width: 375px) {

    .logement-content {
        margin: 0 20px;
        flex-wrap: wrap;
}
.logement-infos h1 {
    font-size: 20px;
    margin: 0px;
}

.logement-infos p {
    font-size: 14px;
    margin-top: 5px;
}
.logement-infos button {
    font-size: 10px;
}
.logement-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}
.logement-host-notation img {
    width: 15px;
    height: 15px;
    padding: 3px;
}

.logement-host-photo {
    width: 32px;
    height: 32px;
}

.logement-host-name p {
    font-size: 12px;
}
}